*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div, span, a, ul, li, input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-size: 13px;
}
.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  border-top: 7px solid #222;
  padding: 0 0 20px 0;
}
.wrapper__menu {
  margin: 10px 0 40px;
}
.wrapper__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* .wrapper__list-item {
} */
.wrapper__list-link {
  text-decoration: none;
  display: flex;
  padding: 7px;
  border-radius: 5px;
  font-style: italic;
  color: #222;
}
.wrapper__list-link:hover {  
  background-color: #d9deec;
} 
.wrapper__list-link--active {  
  background-color: #d9deec;
} 

.wrapper__content-item {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: column wrap;
}
.wrapper__content-title {
  font-family: 'Georgia', sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #1cbf18;
  padding-bottom: 2px;
  font-weight: normal;
}
.wrapper__content-subtitle {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 13px;
}
.wrapper__content-img {
  padding-bottom: 20px;
}
.wrapper__content-img img {
  max-width: 100%;
  display: flex;
}
p {
  padding-bottom: 10px;
  /* text-indent: 20px; */
}
.wrapper__content-item {
  display: none;
}
.wrapper__content-item--show {
  display: flex;
}
span {
  font-weight: bold;
}
.picture__group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  column-gap: 20px;
}
.picture__group > *:first-child {
  width: 100%;
  border-bottom: 1px solid #d9deec;
  margin-bottom: 10px;
}
/* .picture__group > *:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
} */
.picture__group-img {
  width: auto;
  max-height: 150px;
}
.theme-address {
  border-bottom: 1px solid #d9deec;
  margin-bottom: 10px;
}